:root {
    --color-primary: white;
    --color-secondary: #a0a0a0;
    --color-tertiary: #b5b5b5;

    --color-background-primary: #2c2c2c;
    --color-background-secondary: #3c3c3c;
    --color-background-tertiary: #484848;

    --color-success: #2f8035;
    --color-warning: #c37503;
    --color-danger: #a82d2d;
    --color-info: #1c65ae;

    --color-success-secondary: #45914a;
    --color-warning-secondary: #cc8823;
    --color-danger-secondary: #ae3939;
    --color-info-secondary: #2b79ca;

    --color-success-tertiary: #6bbf6b;
    --color-warning-tertiary: #e0a153;
    --color-danger-tertiary: #ea9595;
    --color-info-tertiary: #7faedc;


    --color-border: #5c5c5c;

    --padding-primary: 1em;
    --padding-secondary: 0.75em;

    --cell-height: 5.5em;
    --cell-gap: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    color: var(--color-primary);
    background-color: black;
    min-height: 100vh;
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

.svg-blue {
    filter: invert(39%) sepia(98%) saturate(749%) hue-rotate(169deg) brightness(91%) contrast(87%);
}

.svg-green {
    filter: invert(57%) sepia(83%) saturate(749%) hue-rotate(93deg) brightness(91%) contrast(87%);
}

.svg-red {
    filter: brightness(0) saturate(100%) invert(30%) sepia(36%) saturate(1789%) hue-rotate(329deg) brightness(98%) contrast(84%);
}

.svg-primary {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(91%) contrast(87%);
}

.svg-secondary {
    filter: invert(57%) sepia(0%) saturate(7452%) hue-rotate(62deg) brightness(101%) contrast(87%);
}

.svg-background-primary {
    filter: invert(12%) sepia(5%) saturate(18%) hue-rotate(2deg) brightness(97%) contrast(86%);
}

.svg-background-secondary {
    filter: invert(18%) sepia(1%) saturate(2813%) hue-rotate(15deg) brightness(100%) contrast(83%);
}