@import './variables.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    color: var(--color-primary);
    background-color: black;
    min-height: 100vh;
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.svg-icon {
    width: 1.5em;
    height: 1.5em;
    image-rendering: pixelated;
}

.logo {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    margin: 0;
    padding: 10px 0 0 0;
    font-weight: 500;
}

/* -------------- Transitions -------------- */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-leave-active {
    pointer-events: none;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}