@import './variables.css';
@import './transitions.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    color: var(--color-primary);
    background-color: black;
    min-height: 100vh;
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

.svg-icon {
    width: 1.5em;
    height: 1.5em;
    image-rendering: pixelated;
}

h2 {
    font-size: 1.75em;
    margin: 0;
    padding: 10px 0 0 0;
    font-weight: 500;
}

h3 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 500;
}

h4 {
    font-size: 1.25em;
    margin: 0;
    font-weight: 500;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.separator {
    border: 1px solid var(--color-secondary);
    height: 1em;
    border-right: none;
    margin: 0 8px;
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-background-tertiary);
        border-radius: 10px;
        border: 1px solid var(--color-border);
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
    }
}

/* -------------- Color Styling -------------- */

.success {
    background: var(--color-success);

    &:hover {
        background: var(--color-success-secondary);
    }

    &:active {
        background: var(--color-success-tertiary);
    }
}

.danger {
    background: var(--color-danger);

    &:hover {
        background: var(--color-danger-secondary);
    }

    &:active {
        background: var(--color-danger-tertiary);
    }
}

.warning {
    background: var(--color-warning);

    &:hover {
        background: var(--color-warning-secondary);
    }

    &:active {
        background: var(--color-warning-tertiary);
    }
}

.info {
    background: var(--color-info);

    &:hover {
        background: var(--color-info-secondary);
    }

    &:active {
        background: var(--color-info-tertiary);
    }
}

.neutral {
    background: var(--color-neutral);

    &:hover {
        background: var(--color-neutral-secondary);
    }

    &:active {
        background: var(--color-neutral-tertiary);
    }
}
