/* Fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-leave-active {
    pointer-events: none;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* Fade Slide */
.fade-slide-enter-active,
.fade-slide-leave-active {
    transition: all 0.2s ease;
}

.fade-slide-enter-from {
    opacity: 0;
    transform: translateY(10px);
}

.fade-slide-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}