:root {
    --color-primary: white;
    --color-secondary: #a0a0a0;
    --color-tertiary: #b5b5b5;

    --color-background-primary: #2c2c2c;
    --color-background-secondary: #3c3c3c;
    --color-background-tertiary: #484848;

    --color-success: #227127;
    --color-warning: #c37503;
    --color-danger: #a82d2d;
    --color-info: #1c65ae;
    --color-neutral: #7e7e7e;

    --color-success-secondary: #328a37;
    --color-warning-secondary: #cc8823;
    --color-danger-secondary: #ae3939;
    --color-info-secondary: #2b79ca;
    --color-neutral-secondary: #8f8f8f;

    --color-success-tertiary: #389841;
    --color-warning-tertiary: #e0a153;
    --color-danger-tertiary: #bd4d4d;
    --color-info-tertiary: #7faedc;
    --color-neutral-tertiary: #b5b5b5;


    --color-border: #5c5c5c;

    --padding-primary: 1em;
    --padding-secondary: 0.75em;

    --cell-height: 5.5em;
    --cell-gap: 15px;
}

.svg-blue {
    filter: invert(39%) sepia(98%) saturate(749%) hue-rotate(169deg) brightness(91%) contrast(87%);
}

.svg-green {
    filter: invert(57%) sepia(83%) saturate(749%) hue-rotate(93deg) brightness(91%) contrast(87%);
}

.svg-red {
    filter: brightness(0) saturate(100%) invert(30%) sepia(36%) saturate(1789%) hue-rotate(329deg) brightness(98%) contrast(84%);
}

.svg-primary {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(91%) contrast(87%);
}

.svg-secondary {
    filter: invert(57%) sepia(0%) saturate(7452%) hue-rotate(62deg) brightness(101%) contrast(87%);
}

.svg-background-primary {
    filter: invert(12%) sepia(5%) saturate(18%) hue-rotate(2deg) brightness(97%) contrast(86%);
}

.svg-background-secondary {
    filter: invert(18%) sepia(1%) saturate(2813%) hue-rotate(15deg) brightness(100%) contrast(83%);
}