.mod-icon {
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
    border-radius: 15%;
    max-width: 100%;
    max-height: 100%;
    background: var(--color-background-primary);
}

.search-bar {
    margin-bottom: 10px;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

li {
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
    height: 4.5em;
    background: var(--color-background-secondary);
    padding: var(--padding-secondary);
    border-radius: 10px;
    transition: background 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 15px;

    &:hover {
        background: var(--color-background-tertiary);
    }

    .text-info {
        display: flex;
        flex: 1;
        min-width: 0;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0;

        .mod-title {
            font-size: 1.4em;
            line-height: 0.75em;
            font-weight: 500;
        }

        .mod-description {
            width: 100%;
            font-size: 1em;
            color: var(--color-secondary);
            line-height: 1em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}